body {
  background-color:#e7e6e1;
}
a{
  text-decoration:none;
  color:inherit;
}
#nav{
    background-color:black;
  justify-content:center;
}
nav ul{
   display:flex;
    justify-content:space-around;
}
ul li{
  color:#FFF;
  list-style-type:none;
   margin:-1;
}
ul li a:hover{
  background-color:#e7e6e1;
  color:#000;
  cursor:pointer;
}
h2{
  font-family:georgia;
}
#life{
  line-height:25px;
  font-size:19px;
}
#title{
  margin-top:70px;
  text-align:center;
  line-height:20px;
  align-items:center;
  font-family:lucida;
}


#image{
  height:400px;
  box-shadow:10px 5px 9px 5px #cccccc;
}
#section1{
  display:flex;
  flex-direction:row-reverse;
  justify-content:space-around;
}
footer{
  background-color:#000;
  color:#FFF;
  height:100%;
}
footer ul li a{
  text-decoration:none;
  margin:2px;
}
footer ul{
    margin-top:1px;
}


footer{
    background-color:#000;
    color:#FFF;
  margin-bottom:0;
  }
  footer a{
    text-decoration:underline;
  }
  footer a:hover{
      background-color: #e7e6e1;
      color: #000;
  }
  footer p{
      font-size: 20px;
      padding: 10px;
      margin: 10px;
  }
footer li{
  display:flex;
  flex-direction:column;
}
#quotes p{
        font-size: 19px;
}

@media(max-width:700px){
  #image{
    height:400px;
    width:300px;
  }
  #title{
    margin-top:5px;
  }
  #img-div{
    align-items:center;
    margin:auto;
  }
  #section1{
    display:inherit;
    
  }
  ul li h2{
    font-size:16px;
  }
}
